<% content_for :left do %>
  <%= show_course_term_list %>
<% end %>

<ul id="evaluations" class="subsection_tabs">
  <li class="tab"><a href="#assignments">Assignments</a></li>
  <li class="tab"><a href="#skills">Supporting Skills</a></li>
  <li class="tab"><a href="#comments">Comments</a></li>
</ul>

<div id="assignments"></div>
<div id="skills"></div>
<div id="comments"></div>

<%= link_to_remote '', { :update => "assignments",
  :method => "get",
  :loading  => "show_message('assignments')",
  #:complete => "processPage('assignments');",
  :url => { :tab => "assignments", :controller => "evaluations", :action => "show", :id => @course_term.id } },
  :id => 'tab_assignments' -%>

<%= link_to_remote '', { :update => "skills",
  :method => "get",
  :loading  => "show_message('skills')",
  #:complete => "processPage('skills');",
  :url => { :tab => "skills", :controller => "evaluations", :action => "show", :id => @course_term.id } },
  :id => 'tab_skills' -%>

<%= link_to_remote '', { :update => "comments",
  :method   => "get",
  :loading  => "show_message('comments')",
  #:complete => "processPage('comments');",
  :url => { :tab => "comments", :controller => "evaluations", :action => "show", :id => @course_term.id } },
  :id => 'tab_comments' -%>

<div id="loading" class="box" style="display:none;text-align:center;">
  <span id="loading_message">Loading data ...</span><br />
  <img alt="" src="/images/ajax-loader.gif"/>
</div>

<% content_for :page_footer do %>
  <% javascript_tag do %>
    // Build the graphical tabs
    new Control.Tabs("evaluations", {
    afterChange: function(container){
    if (container.empty()) {$('tab_' + container.id).onclick();}}
    });

    // Center the "loading" animation
    element = $('loading');
    var offsets = document.viewport.getScrollOffsets();

    var centerX = document.viewport.getWidth() / 2 + offsets.left - element.getWidth() / 2;
    var centerY = 200;

    element.setStyle( { position: 'absolute', top: Math.floor(centerY) + 'px', left: Math.floor(centerX) + 'px' } );

    // Let the user know what's going on
    function show_message(data){
    $('loading_message').update('Loading ' + data + ' ...');
    $('loading').show();
    }

    // Load the grade display helpers
    <%#= render :partial => 'grade_display.js' %>
    <%= render :partial => 'form_control.js' %>

  <% end %>
<% end %>

    <div id="stinky"></div>