<% content_for :left do %>
	<%= render :partial => 'settings/settings_list' %>
<% end %>

<%= error_messages_for :scale, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div class='box span-13 last'>
<% form_for @scale do |f| %>
	<label><span class='required'>Scale Name</span>
		<%= f.text_field :name, :id => 'scale_name' %>
	</label>

  <label><span>Scale Range</span>&nbsp;</label>

  <div class='prepend-3 span-8 last'>
  <% for range in @scale.grade_ranges %>
    <% fields_for "grading_scale[range_attributes][]", range do |ff| %>
        <div class='grade_range last'>
          From <%= ff.text_field :max_score, :size => '3' %>%
          to <%= ff.text_field :min_score, :size => '3' %>% 
          is a <%= ff.text_field :grade, :size => '3' %>
        </div>
    <% end %>
  <% end %>
  </div>
  
	<div class='spacer span-15 last'>
		<%= submit_tag 'Save', :class => 'btn positive' %>
		<%= link_to 'Cancel', grading_scales_path, :class => 'btn standard' %>
	</div>
<% end %>
</div>

<%= set_focus_to_id 'scale_name' %>
