<% content_for :left do %>
	<%= render :partial => 'settings/settings_list' %>
<% end %>

<%= error_messages_for :scale, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div class='box span-13'>
<% form_for @scale do |f| %>
	<label><span class='required'>Scale Name</span>
		<%= f.text_field :name %>
	</label>
			
	<div class="spacer">
		<%= submit_tag 'Save', :class => 'btn positive' %>
		<%= link_to 'Cancel', grading_scales_path, :class => 'btn standard' %>
	</div>
<% end %>
</div>

