<% content_for :left do %>
	<%= render :partial => 'settings/settings_list' %>
<% end %>

<%= error_messages_for "term" %>

<div class='box'>
<% form_for @term do |f| %>
	<label><span class='required'>School Year</span>
		<%= f.text_field :school_year %>
	</label>
	
	<label><span class='required'>Term Name</span>
		<%= f.text_field :name %>
	</label>

	<label><span class='required'>Begin Date</span>
		<%= f.date_select :begin_date %>
	</label>

	<label><span class='required'>End Date</span>
		<%= f.date_select :end_date %>
	</label>
	
	<label><span>Active?</span>
		<%= f.check_box :active %>
	</label>

	<div class='spacer'>&nbsp;</div>
			
	<div class="spacer">
		<%= submit_tag 'Save Term', :class => 'btn positive' %>
		<%= link_to 'Cancel', terms_path(), :class => 'btn standard' %>
	</div>
<% end %>
</div>
