<% content_for :left do %>
		<%= show_course_list %>
<% end %>

<%# @assignment.course_id = @course %>
<%= error_messages_for :assignment, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div class='box'>
	<% form_for(@assignment) do |f| %>
			<div class='spacer'>
				<%= content_tag( :h1, "Editing: #{@assignment.name}" ) %>
			</div>
		
			<label><span>Name</span>
				<%= f.text_field :name %>
			</label>

			<label><span>Possible Points</span>
		    <%= f.text_field :possible_points %>
			</label>
		
			<label><span>Due Date</span>
				<%= f.calendar_date_select :due_date, :time => :false, :month_year => 'label', :buttons => :false %>
			</label>

			<div class='spacer'>
				<%= submit_tag 'Save', :class=>"positive" %>
				<%= link_to 'Cancel', assignment_path(@course.id), :class => 'standard' %>
			</div>
	<% end %>
</div>

