<%= error_messages_for :assignment, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div class="entryform">
	<% form_for(@assignment) do |f| %>
			<%= content_tag( :h1, "#{@assignment.name}" ) %>
			<p>Change the information and hit SAVE</p>
		
			<label>Name</label>
			<%= f.text_field :name %>

			<label>Course</label>
			<%= collection_select :assignment, :course_id, Course.find(:all), :id, :name %>

			<label>Possible Points</label>
			<%= f.text_field :possible_points %>
			
			<label>Due Date</label>
			<%= f.text_field :due_date_formated %>

			<div class="buttons">
			<%= submit_tag 'Save', :class=>"positive" %><%= link_to 'Cancel', assignments_path, :class => "positive" %>		
			</div>
	<% end %>
</div>

