<% content_for :page_header do %>
  <%= calendar_date_select_includes %>
<% end %>

<% content_for :left do %>
	<%= show_course_list %>
<% end %>

<%= error_messages_for :assignment, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div class='box'>
	<% form_for(@assignment) do |f| %>
			<div class='spacer'>
				<%= content_tag( :h1, "Editing: #{@assignment.name}" ) %>
				<%= f.hidden_field :course_id, :value => @course.id %>
			</div>
		
			<label><span class='required'>Name</span>
				<%= f.text_field :name %>
			</label>

			<label><span class='required'>Possible Points</span>
		    <%= f.text_field :possible_points %>
			</label>
		
			<label><span>Due Date</span>
				<%= f.calendar_date_select :due_date, 
							:time => :false,
							:month_year => 'label',
							:buttons => :false,
							:class => 'my_cal',
							:embedded => true %>
			</label>

			<div class='spacer'>
				<%= submit_tag 'Save', :class=> 'btn positive' %>
				<%= link_to 'Cancel', assignment_path(@course), :class => 'btn standard' %>
			</div>
	<% end %>
</div>

<%= set_focus_to_id 'assignment_name' %>
