<div id="inplace" style=""></div>


<div class="buttons">
<%= link_to_remote 'Generate Random Number', :url => '/assignments/inplace/235610955', :update => 'inplace', :html => {:class => "positive"} %>
</div>


<table class="master">
  <thead>
    <tr>
      <th>Name</th>
      <th>Course</th>
      <th>Possible points</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Course</th>
      <th>Possible points</th>
    </tr>
  </tfoot>

<% for assignment in @assignments %>
	<% link_path = url_for( :action => :edit, :escape => true ) + "/" + assignment.id.to_s %>
	<tr class="<%= cycle('odd', 'even') %>" onclick="location.href='<%= link_path %>'"/>

    <td><%=h assignment.name %></td>
    <td><%=h assignment.course_id %></td>
    <td><%=h assignment.possible_points %></td>
  </tr>
<% end %>
</table>

    <td><%#= link_to 'Show', assignment %></td>
    <td><%#= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%#= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %></td>

<br />


<div class="buttons">
	<%= link_to 'New assignment', new_assignment_path, :class=> "positive" %>

    <a href="/password/reset/">
        <im src="/images/icons/textfield_key.png" alt=""/> 
        Change Password
    </a>

    <a href="#" class="negative">
        <im src="/images/icons/cross.png" alt=""/>
        Cancel
    </a>
</div>
