<% content_for :left do -%>
<table class="list">
	<thead>
		<th>Course</th>
		<th>Term</th>
	</thead>
	<tbody>
		<% for course in @courses -%>
		<tr class="<%= cycle('odd', 'even') %>" onclick="<%= 
					remote_function(
								:update => 'assignments_list', 
								:url => assignment_url(course), :action => :show, :method => :get,
								:loading => "Element.show('busy')",
								:complete => "Element.hide('busy')") %>" />
			<%= content_tag :td, course.name %>
			<%= content_tag :td, course.term.name %>			
		</tr>
		<% end -%>
	</tbody>
</table>
<% end -%>

<div id="assignments_list">
	<%= render :partial => "assignment_list" %>
</div>

<div class="buttons">
	<%= link_to 'New assignment', new_assignment_path, :class=> "positive" %>
</div>


	<%#= link_to 'Show', assignment %>
	<%#= link_to 'Edit', edit_assignment_path(assignment) %>
	<%#= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %>

<br />



