<table id="students" class="master">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Email Address</th>
    <th>Campus</th>
    <th>Class Of</th>
  </thead>
	<tfoot>
    <th>ID</th>
    <th>Name</th>
    <th>Email Address</th>
    <th>Campus</th>
    <th>Class Of</th>
	</tfoot>

	<tbody>
		<% for student in @students %>
			<tr class="<%= cycle('odd', 'even') %>" onclick="location.href='<%= edit_student_path(student) %>'">
				<td><%=h student.short_name %></td>
				<td><%=h student.last_name %>, <%=h student.first_name %></td>
				<td><%=h student.email %></td>
				<td><%=h Site.find(student.site_id).name %></td>
				<td><%=h student.class_of %></td>
			</tr>
		<% end %>
  </tbody>
</table>