<% # Are we editing this Student?
if true 
%>
	<p>
		<b>Short name:</b>
		<%= f.text_field :short_name %>
	</p>

	<p>
		<b>First name:</b>
		<%= f.text_field :first_name %>
	</p>

	<p>
		<b>Last name:</b>
		<%= f.text_field :last_name %>
	</p>

	<p>
		<b>Email:</b>
		<%= f.text_field :email %>
	</p>

	<p>
		<b>Site:</b>
		<%= collection_select :student, :site_id, Site.find(:all), :id, :name %>
	</p>

	<p>
		<b>Class of:</b>
		<%= f.text_field :class_of %>
	</p>

<% # No, we are just displaying them
else %>
	<p>
		<b>Short name:</b>
		<%=h @student.short_name %>
	</p>

	<p>
		<b>First name:</b>
		<%=h @student.first_name %>
	</p>

	<p>
		<b>Last name:</b>
		<%=h @student.last_name %>
	</p>

	<p>
		<b>Email:</b>
		<%=h @student.email %>
	</p>

	<p>
		<b>Campus:</b>
		<%=h Site.find(@student.site_id).name %>
	</p>

	<p>
		<b>Class of:</b>
		<%=h @student.class_of %>
	</p>
<% end %>
