<%= error_messages_for :student, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div class="entryform">
	<% form_for(@student) do |f| %>
			<%= content_tag( :h1, "#{@student.full_name}" ) %>
			<p>Change the information and hit SAVE</p>
		
			<label>ID</label>
			<%= f.text_field :short_name %>

			<label>First Name</label>
			<%= f.text_field :first_name %>

			<label>Last Name</label>
			<%= f.text_field :last_name %>
			
			<label>Email Address</label>
			<%= f.text_field :email %>

			<label>Site</label>
			<%= collection_select :student, :site_id, Site.find(:all), :id, :name %>

			<label>Class</label>
			<%= f.select(:class_of, ((Time.now.year - 1)..(Time.now.year + 10)).to_a) %>
		
			<div class="buttons">
			<%= submit_tag 'Save', :class=>"positive" %><%= link_to 'Cancel', students_path, :class => "positive" %>		
			</div>
	<% end %>
</div>


