<% content_for :left do %>
	<%= render :partial => 'settings/settings_list' %>
<% end %>

<table class='master'>
	<thead>
	 <tr>
  	  <th width='1'>Code</th>
	 	<th>Description</th>
	 	<th>Active?</th>
	 	<th width='1'></th>
    </tr>
	</thead>
	<tbody>
		<tr class="<%= cycle('odd', 'even')%>">
		  <td colspan='0'>
		    <%= link_to "Add code", new_supporting_skill_code_path, :class => 'btn positive' %>
		  </td>
		</tr>
		<% for skill in @skill_codes %>
			<tr class="<%= cycle('odd', 'even')%>" onclick="location.href='<%= url_for(skill) + '/edit' %>'">
				<td><%= h skill.code %></td>
				<td><%= link_to skill.description, edit_supporting_skill_code_path(skill) %></td>
        <%= content_tag :td, ( check_box_tag :active, skill.active, skill.active, :disabled => true ) %>
				<td><%= button_to 'Delete', supporting_skill_code_path(skill), :method => :delete,
										:class => "btn negative ",
										:confirm => "Are you sure you want to delete\n\n '" + skill.description + "'?" %></td>
			</tr>
		<% end %>
	</tbody>
</table>


