
<%= error_messages_for :teacher %>

<% form_for(@teacher) do |f| %>
	render_partial 'teacher', @teachers
	
	<p>
    <b>Short Name</b><br />
    <%= f.text_field :short_name %>
  </p>

  <p>
    <b>First Name</b><br />
    <%= f.text_field :first_name %>
  </p>

	<p>
    <b>Last Name</b><br />
    <%= f.text_field :last_name %>
  </p>

	<p>
    <b>Email Address</b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <b>Class of</b><br />
    <%= f.text_field :class_of %>
  </p>

	<p>
    <b>Site</b><br />
		<%= collection_select :teacher, :site, Site.find(:all), :id, :name %>
  </p>
	
	
	<%= submit_tag 'Create' %>

<% end %>

<%= link_to 'Back', teachers_path %>

