<p>
  <b>Short name:</b>
  <%=h @teacher.short_name %>
</p>

<p>
  <b>Full Name:</b>
  <%=h @teacher.full_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @teacher.email %>
</p>

<p>
  <b>Site:</b>
  <%=h @teacher.site_id %>
</p>

<p>
  <b>Class of:</b>
  <%=h @teacher.class_of %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
