
<table id="users" class="master">
  <thead>
    <th>ID</th>
    <% form_for @students.class.to_s, :html => { :method => :get } do |s| %>
	    <th>Name <%= text_field_tag :search, params[:search], :class => "search" %></th>
	  <% end %>
    <th>Email Address</th>
    <th>Campus</th>
    <th>Class Of</th>
  </thead>
	<tfoot>
    <th>ID</th>
    <th>Name</th>
    <th>Email Address</th>
    <th>Campus</th>
		<th>Class Of</th>
	</tfoot>

	<tbody>
		<% for u in @students %>
			<tr class="<%= cycle('odd', 'even') %>" onclick="<%#= link_to(u.full_name, u) %>"/>
				<%= content_tag :td, u.short_name %>
				<%= content_tag :td, link_to(u.full_name, edit_users_student_path(u)) %>
				<%= content_tag :td, u.email %>
				<%= content_tag :td, u.site.name %>
				<%= content_tag :td, u.class_of %>
			</tr>
		<% end %>
  </tbody>
</table>

<span class="paginate">
<%= will_paginate @students %>
</span>

<%= set_focus_to_id 'search' %>
