<div class='box span-13'>
  <% form_for user do |f| %>
    <fieldset>
      <%= content_tag :legend, user.new_record? ? "New #{user.class.name.titleize}" : "Editing: #{user.full_name}" %>

      <div class="clear">&nbsp;</div>

      <%= f.label :login, {}, :class => 'req' %>
      <%= f.text_field :login, :id => 'user_login', :class=>"focus input" %>
      <br />
      <%= f.label :first_name, {}, :class => 'req' %>
      <%= f.text_field :first_name, :class => 'input' %>
      <br />
      <%= f.label :last_name, {}, :class => 'req' %>
      <%= f.text_field :last_name, :class => 'input' %>
      <br />
      <%= f.label :email, {}, :class => '' %>
      <%= f.text_field :email, :class=>'input' %>
      <br />
      <% content_tag :label, !f.object.new_record? ? nil : :class=>'required' do %>
        <%= content_tag :span, f.object.new_record? ? 'Password' : 'Change password' %>
      <%  end %>
      <%= f.password_field :password, :class=>'input' %>
      <br />
      <% content_tag :label, !f.object.new_record? ? nil : :class=>'required' do %>
        <%= content_tag :span, 'Confirm password' %>
      <% end %>
      <%= f.password_field :password_confirmation, :class=>'input' %>
      <br />
      <%= f.label :site, {}, :class => 'req' %>
      <%= collection_select user.class.name.underscore, :site_id, Site.find(:all), :id, :name, {}, :class=>'input' %>
      <br />

      <% if user.class.name == 'Student' %>
        <%= f.label :class_of, {}, :class => 'req' %>
        <%= f.select(:class_of, TimeRanges[:classes_of].call.to_a, {}, :class=>'input') %>
        <br />

        <%= f.label :homeroom %>
        <%= text_field_tag :homeroom1, {}, :maxlength => 20 %>
        <%= collection_select :student, :homeroom, @homerooms, :homeroom, :homeroom %>
      <% end %>

      <div class="spacer">
        <%= submit_tag 'Save', :class => 'btn positive' %>
        <%= link_to 'Cancel', {:action=> 'index', :controller=> 'users/'+user.class.name.tableize}, :class => 'btn standard' %>

        <%= link_to "Impersonate", impersonate_user_path(user),
          :confirm => "Are you sure you want to impresonate '#{user.full_name}'?",
          :method => :post, :class => "btn standard right" unless user.new_record? %>

        <%= link_to "Delete", { :action => "destroy", :id => user },
          :confirm => "** WARNING ** You are about to delete '#{user.full_name}'!


This will remove them from the system completely, including any previous grades or assignments.


Are you sure you want to proceed?",
          :method => :delete, :class => "btn negative right" unless user.new_record? || user.is_admin? %>
      </div>
    </fieldset>
  <% end %>
</div>