<div class='box span-13'>
  <% form_for user do |f| %>
    <fieldset>
      <% if user.new_record? %>
        <%= content_tag :legend, "New #{user.class.name.titleize}" %>
      <% else %>
        <%= content_tag :legend, "Editing: #{user.full_name}" %>
      <% end %>

      <%= f.label :login, {}, :class => 'req' %>
      <%= f.text_field :login, :id => 'user_login', :class=>"focus input" %>
      <br />
      <%= f.label :first_name, {}, :class => 'req' %>
      <%= f.text_field :first_name, :class => 'input' %>
      <br />
      <%= f.label :last_name, {}, :class => 'req' %>
      <%= f.text_field :last_name, :class => 'input' %>
      <br />
      <%= f.label :email, {}, :class => '' %>
      <%= f.text_field :email, :class=>'input' %>
      <br />
      <% content_tag :label, !f.object.new_record? ? nil : :class=>'required' do %>
        <%= content_tag :span, f.object.new_record? ? 'Password' : 'Change password' %>
      <%  end %>
      <%= f.password_field :password, :class=>'input' %>
      <br />
      <% content_tag :label, !f.object.new_record? ? nil : :class=>'required' do %>
        <%= content_tag :span, 'Confirm password' %>
      <% end %>
      <%= f.password_field :password_confirmation, :class=>'input' %>
      <br />
      <%= f.label :site, {}, :class => 'req' %>
      <%= collection_select user.class.name.underscore, :site_id, Site.find(:all), :id, :name, {}, :class=>'input' %>
      <br />

      <% if user.class.name == 'Student' %>
        <%= f.label :class_of, {}, :class => 'req' %>
        <%= f.select(:class_of, TimeRanges[:classes_of].call.to_a, {}, :class=>'input') %>
        <br />

        <%= f.label :homeroom %>
        <%= text_field_tag :homeroom1, {}, :maxlength => 20 %>
        <%= f.select :homeroom, @homerooms, :include_blank => true %>
      <% end %>

      <div class="spacer">
        <%= submit_tag 'Save', :class => 'btn positive' %>
        <%= link_to 'Cancel', {:action=> 'index', :controller=> 'users/'+user.class.name.tableize}, :class => 'btn standard' %>
      </div>
    </fieldset>
  <% end %>
</div>