
<div class="box">
	<% form_for user do |f| %>
			<div class="spacer">
			<%= content_tag( :h1, "#{user.full_name}" ) %>
			</div>
			
			<label><span>ID</span>
			<%= f.text_field :short_name, :class=>'input-text'  %>
			</label>
		
			<label><span>First Name</span>
			<%= f.text_field :first_name, :class=>'input-text'  %>
			</label>

			<label><span>Last Name</span>
			<%= f.text_field :last_name, :class=>'input-text'  %>
			</label>
			
			<label><span>Email Address</span>
			<%= f.text_field :email, :class=>'input-text' %><br>
			</label>

			<label><span>Site</span>
			<%= collection_select :student, :site_id, Site.find(:all), :id, :name %>
			</label>

			<label><span>Class Of</span>
			<%= f.select(:class_of, ((Time.now.year - 1)..(Time.now.year + 10)).to_a) %>
			</label>
		
			<div class="spacer">
				<%= submit_tag 'Save', :class=>"positive" %><%= link_to 'Cancel', user_path, :class => "standard" %>
			</div>
	<% end %>
</div>
