
<div class="box">
	<% form_for user do |f| %>
			<div class="spacer">
			<%= content_tag( :h1, "New #{user.class.name.titleize}" ) %>
			</div>

			<label><span>ID</span>
			<%= f.text_field :short_name, :class=>'input-text'  %>
			</label>

			<label><span class='required'>First Name</span>
			<%= f.text_field :first_name, :class=>'input-text'  %>
			</label>

			<label><span class='required'>Last Name</span>
			<%= f.text_field :last_name, :class=>'input-text'  %>
			</label>

			<label><span>Email Address</span>
			<%= f.text_field :email, :class=>'input-text' %><br>
			</label>

			<label><span class='required'>Site</span>
			<%= collection_select user.class.name.underscore, :site_id, Site.find(:all), :id, :name %>
			</label>

			<%= content_tag :label, "<span class='required'>Class Of</span>" if user.class.name == 'Student' %>
			<%= f.select(:class_of, ((Time.now.year - 1)..(Time.now.year + 10)).to_a) if user.class.name == 'Student' %>
			</label>

			<div class="spacer">
				<%= f.submit 'Create', :class=>"positive" %><%#= link_to 'Cancel', user_path, :class => "standard" %>
			</div>
	<% end %>
</div>
