<%# FIXME - This should be merged with _edit.html.erb %>
<div class='box'>
	<% form_for user do |f| %>
			<div class="spacer">
			<%= content_tag( :h1, "New #{user.class.name.titleize}" ) %>
			</div>

			<label><span>ID</span>
			<%= f.text_field :short_name, :class=>'input-text'  %>
			</label>

			<label><span class='required'>First Name</span>
			<%= f.text_field :first_name, :class=>'input-text'  %>
			</label>

			<label><span class='required'>Last Name</span>
			<%= f.text_field :last_name, :class=>'input-text'  %>
			</label>

			<label><span>Email Address</span>
			<%= f.text_field :email, :class=>'input-text' %><br>
			</label>

			<label><span class='required'>Site</span>
			<%= collection_select user.class.name.underscore, :site_id, Site.find(:all), :id, :name %>
			</label>

			<% if user.class.name == 'Student' %>
				<label><span class='required'>Class Of</span>
					<%= f.select(:class_of, ((Time.now.year - 1)..(Time.now.year + 10)).to_a) %>
				</label>

				<label><span>Homeroom</span>
						<%= text_field_tag :homeroom1, {}, :maxlength => 20 %>
						<%= f.select :homeroom, @homerooms, :include_blank => true %>
				</label>
			<% end %>

			<div class="spacer">
				<%= f.submit 'Create', :class => 'btn positive' %>
				<%= link_to 'Cancel', {:action=> 'index', :controller=> 'users/'+user.class.name.tableize}, :class => 'btn standard' %>
			</div>
	<% end %>
</div>

<%= set_focus_to_id 'student_short_name' %>
