<table id="users" class="master">
  <thead>
    <tr>
      <%= sort_header_tag('login', :title => 'Login') %>
      <% form_for users.class.to_s, :html => { :method => :get } do |s| %>
        <%= sort_header_tag('first_name', :title => 'First Name') %>
        <%= sort_header_tag('last_name', :title => 'Last Name') %>
        <%= sort_header_tag('email', :title => 'Email Address') %>
        <th>Campus</th>
        <% if controller.controller_name == 'students' %>
          <%= sort_header_tag('class_of', :title => 'Class Of') %>
          <%= sort_header_tag('homeroom', :title => 'Homeroom') %>
        <% end %>
        <th colspan="2"><%= text_field_tag :search, params[:search],
          :size => 10, :class => "focus search" %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% for u in users %>
      <tr class="<%= cycle('odd', 'even') %>" onclick="location.href='<%= url_for(u)+'/edit' %>'">
        <%= content_tag :td, u.login %>
        <td><%= link_to u.first_name, url_for(u)+'/edit' %></td>
        <td><%= link_to u.last_name, url_for(u)+'/edit' %></td>
        <%= content_tag :td, u.email %>
        <%= content_tag :td, u.site.name %>
        <% if controller.controller_name == 'students' %>
          <%= content_tag :td, u.class_of %>
          <%= content_tag :td, u.homeroom %>
        <% end %>
        <td><%= button_to 'Delete', u, :method => :delete,
            :confirm => "Are you sure you want to delete\n\n '" + u.full_name + "'?",
            :class => 'btn negative' %></td>
        <td><%= button_to 'Imp.', { :action => "impersonate", :id => u.id },
            :confirm => "Are you sure you want to impersonate\n\n '" + u.full_name + "'?",
            :class => 'btn negative sml' %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<span class="paginate">
  <%= will_paginate users %>
</span>