<%- ## Is this a student
student = true if users[1].class.to_s == "Student" 
-%>

<span class="paginate">
<%= will_paginate users %>
</span>

<table id="users" class="master">
  <thead>
    <th>ID</th>
    <%- form_for users.class.to_s, :html => { :method => :get } do -%>
	    <th>Name<%= text_field_tag :search, params[:search], :class => "search" %></th>
	  <%- end -%>
    <th>Email Address</th>
    <th>Campus</th>
    <%- if student -%><th>Class Of</th><%- end -%>
  </thead>
	<tfoot>
    <th>ID</th>
    <th>Name</th>
    <th>Email Address</th>
    <th>Campus</th>
    <%- if student -%><th>Class Of</th><%- end -%>
	</tfoot>

	<tbody>
		<%- for u in users -%>
		<% link_path = url_for( :action => :edit, :escape => true ) + "/" + u.id.to_s %>
			<tr class="<%= cycle('odd', 'even') %>" onclick="location.href='<%= link_path %>'"/>
				<td><%=h u.short_name %></td>
				<td><%= link_to ( u.full_name, link_path ) %></td>
				<td><%=h u.email %></td>
				<td><%=h Site.find( u.site_id ).name %></td>
				<%- if student -%>
					<td><%=h u.class_of %></td>
				<%- end -%>
			</tr>
		<%- end -%>
  </tbody>
</table>

<span class="paginate">
<%= will_paginate users %>
</span>

<%= set_focus_to_id 'search' %>
