<% user_type = users[0].class.name %>

<table id="users" class="master">
  <thead>
    <th>ID</th>
    <% form_for users.class.to_s, :html => { :method => :get } do |s| %>
	    <th>Name <%= text_field_tag :search, params[:search], :class => "search" %></th>
	  <% end %>
    <th>Email Address</th>
    <th>Campus</th>
		<%= content_tag(:th, 'Class Of') if user_type == 'Student' %>
		<th width='1'></th>
  </thead>
	<tfoot>
    <th>ID</th>
    <th>Name</th>
    <th>Email Address</th>
    <th>Campus</th>
		<%= content_tag(:th, 'Class Of') if user_type == 'Student' %>
		<th width='1'></th>
	</tfoot>

	<tbody>
		<% for u in users %>
			<tr class="<%= cycle('odd', 'even') %>" onclick="location.href='<%= url_for(u)+'/edit' %>'" />
				<%= content_tag :td, u.short_name %>
				<td><%= link_to u.full_name, url_for(u)+'/edit' %></td>
				<%= content_tag :td, u.email %>
				<%= content_tag :td, u.site.name %>
				<%= content_tag(:td, u.class_of) if user_type == 'Student' %>
				<td><%= button_to 'Delete', u, :method => :delete, :confirm => "Are you sure you want to delete\n\n '" + u.full_name + "'?" %></td>
			</tr>
		<% end %>
  </tbody>
</table>

<span class="paginate">
	<%= will_paginate users %>
</span>

<%= set_focus_to_id 'search' %>
