<table id="users" class="master">
  <thead>
    <tr>
      <%= sort_header_tag('login', :title => 'Login') %>
      <% form_for users.class.to_s, :html => { :method => :get } do |s| %>
        <%= sort_header_tag('first_name', :title => 'First Name') %>
        <%= sort_header_tag('last_name', :title => 'Last Name') %>
        <%= sort_header_tag('homeroom', :title => 'Homeroom') %>
        <th>Campus</th>
        <%= sort_header_tag('class_of', :title => 'Class Of') %>
        <%= sort_header_tag('email', :title => 'Email Address') %>

        <th><%= text_field_tag :search, params[:search],
            :size => 10, :class => "focus search" %></th>
      <% end %>

  <form method="post" action="/users/0/archive">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <th><%= submit_tag "Archive" %></th>

    </tr>
    </thead>
    <tbody>
      <% for u in users %>
        <tr class="<%= cycle('odd', 'even') %>" nclick="location.href='<%= url_for(u)+'/edit' %>'">
          <%= content_tag :td, u.login %>
          <td><%= link_to u.first_name, url_for(u)+'/edit' %></td>
          <td><%= link_to u.last_name, url_for(u)+'/edit' %></td>
          <%= content_tag :td, u.homeroom %>
          <%= content_tag :td, u.site.name %>
          <%= content_tag :td, u.class_of %>
          <%= content_tag :td, u.email, :colspan => "2" %>

          <td>
            <% unless u.is_admin? %>
              <input type="checkbox" name="<%= u.id %>" class="checkbox" />
            <% end %>
          </td>

  <%#= button_to 'Delete', u, :method => :delete,
  :confirm => "Are you sure you want to delete\n\n '" + u.full_name + "'?",
  :class => 'btn negative' %>
  <%#= button_to 'Imp.', { :action => "impersonate", :id => u.id },
  :confirm => "Are you sure you want to impersonate\n\n '" + u.full_name + "'?",
  :class => 'btn negative sml' %>

        </tr>
      <% end %>
  </form>
</tbody>
</table>

<span class="paginate">
  <%= will_paginate users %>
</span>

<%#= javascript_tag "$$('input:checked')" %>