<% user_type = users[0].class.name %>

<table id="users" class="master">
  <thead>
    <th>ID</th>
    <% form_for users.class.to_s, :html => { :method => :get } do |s| %>
	    <th>Name <%= text_field_tag :search, params[:search], :class => "search" %></th>
	  <% end %>
    <th>Email Address</th>
    <th>Campus</th>
		<%= content_tag(:th, 'Class Of') if user_type == 'Student' %>
  </thead>
	<tfoot>
    <th>ID</th>
    <th>Name</th>
    <th>Email Address</th>
    <th>Campus</th>
		<%= content_tag(:th, 'Class Of') if user_type == 'Student' %>
	</tfoot>

	<tbody>
		<% for u in users %>
			<tr class="<%= cycle('odd', 'even') %>" onclick="location.href='<%= url_for(u)+'/edit' %>'" />
				<%= content_tag :td, u.short_name %>
				<td><%= link_to u.full_name, { :controller => 'users/'+u.class.name.tableize, :action => "edit", :id => u.id } %></td>
				<%= content_tag :td, u.email %>
				<%= content_tag :td, u.site.name %>
				<%= content_tag(:td, u.class_of) if user_type == 'Student' %>
			</tr>
		<% end %>
  </tbody>
</table>

<span class="paginate">
<%= will_paginate users %>
</span>

<%= set_focus_to_id 'search' %>
