<%= error_messages_for "user", :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div class='box'>
  <% form_for @user, :url => account_path do |f| %>
		<div class='spacer'>
		  <%= content_tag( :h1, "Register new user" ) %>
		</div>

		<label><span>ID</span>
  		<%= f.text_field :short_name, :class=>'input-text'  %>
		</label>

		<label><span class='required'>First Name</span>
  		<%= f.text_field :first_name, :class=>'input-text'  %>
		</label>

		<label><span class='required'>Last Name</span>
  		<%= f.text_field :last_name, :class=>'input-text'  %>
		</label>

		<label><span>Email Address</span>
  		<%= f.text_field :email, :class=>'input-text' %><br>
		</label>

		<label><span class='required'>Site</span>
  		<%= collection_select 'user', :site_id, Site.find(:all), :id, :name %>
		</label>

		<label><span class='required'>Login ID</span>
			<%= f.text_field :login %>
		</label>

		<label><span class='required'>Password</span>
			<%= f.password_field :password %>
		</label>
		
		<label><span class='required'>Confirm Password</span>
			<%= f.password_field :password_confirmation %>
		</label>

		<div class='spacer'>
			<%= f.submit 'Register', :class=> 'btn positive' %>
			<%= link_to 'Cancel', '/', :class => 'btn standard' %>
		</div>
  <% end %>
</div>

<%= set_focus_to_id 'short_name' %>
