<% cache "course_list_#{current_user.id}_#{controller.controller_name}" do -%>
  <div id='course_list'>
    <table id='courses' class='master'>
      <thead>
        <tr>
          <th>Course <%= "(#{@courses.size})" unless @courses.blank? -%></th>
          <th>Term</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| -%>
          <% course.course_terms.active.sorted.each do |ct| -%>
            <tr class="<%= cycle('even', 'odd') -%>"
                onclick="location.href='<%= url_for( :action => "show", :id => ct.id ) -%>'" >
              <td>
                <%= link_to "#{ct.course.name}",:action => "show", :id => ct.id -%>
              </td>
              <td>
                <%= link_to "#{ct.term.name}", :action => "show", :id => ct.id -%>
              </td>
            </tr>
          <% end -%>
        <% end -%>
      </tbody>
    </table>
  </div>

  <%# OPTIMIZE: This code forces a highlight on the course listing. %>
  <% javascript_tag do -%>
    $('courses').down('tbody').childElements().each(function(e) {
    if (top.location.pathname.include(e.down().down().readAttribute('href'))) {
    e.addClassName('current');
    }
    });
  <% end -%>
<% end -%>
