<table class="master">
	<caption><%= Course.find(params[:id]).name if params[:id] %></caption>
	<thead>
	  <tr>
	    <th>Student</th>
	    <th>Full Name</th>
	    <th>Course</th>
	    <th>Course Name</th>
	  </tr>
	</thead>
	<tfoot>
	  <tr>
	    <th>Student</th>
	    <th>Full Name</th>
	    <th>Course</th>
	    <th>Course Name</th>
	  </tr>
	</tfoot>
	<tbody>
	<% for enrollment in @enrollments %>
		<tr>
		  <%= content_tag :td, enrollment.student_id %>
		  <%= content_tag :td, User.find(enrollment.student_id).full_name %>
		  <%= content_tag :td, enrollment.course_id %>
		  <%= content_tag :td, Course.find(enrollment.course_id).name %>
		</tr>
	<% end %>
	</tbody>
</table>

