
<table class="master">
	<thead>
	  <tr>
	    <th>Student</th>
	    <th>Full Name</th>
	    <th>Course</th>
	    <th>Course Name</th>
	  </tr>
	</thead>
	<tfoot>
	  <tr>
	    <th>Student</th>
	    <th>Full Name</th>
	    <th>Course</th>
	    <th>Course Name</th>
	  </tr>
	</tfoot>
	
<% for enrollment in @enrollments %>
  <tr>
    <td><%=h enrollment.student_id %></td>
    <td><%=h User.find(enrollment.student_id).full_name %></td>
    <td><%=h enrollment.course_id %></td>
    <td><%=h Course.find(enrollment.course_id).name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New enrollment', new_enrollment_path %>


<%#= link_to 'Show', enrollment %>
<%#= link_to 'Edit', edit_enrollment_path(enrollment) %>
<%#= link_to 'Destroy', enrollment, :confirm => 'Are you sure?', :method => :delete %>
