
<table class="list">
	<thead>
		<th>Course</th>
		<th>Term</th>
	</thead>
	<tbody>
		<% for course in @courses -%>
		<tr class="<%= cycle('odd', 'even') %>" onclick="<%= 
					remote_function(
								:update => 'enrollements_list', 
								:url => enrollment_url(course), :action => :show, :method => :get,
								:loading => "Element.show('busy')",
								:complete => "Element.hide('busy')") %>" />
			<%= content_tag :td, course.name %>
			<%= content_tag :td, course.term.name %>			
		</tr>
		<% end -%>
	</tbody>
</table>


<div id="enrollments_list">
	<%= render :partial => "enrollment_list" %>
</div>




<br />

<%= link_to 'New enrollment', new_enrollment_path %>


<%#= link_to 'Show', enrollment %>
<%#= link_to 'Edit', edit_enrollment_path(enrollment) %>
<%#= link_to 'Destroy', enrollment, :confirm => 'Are you sure?', :method => :delete %>
