<h1>Listing user_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for user_type in @user_types %>
  <tr>
    <td><%=h user_type.name %></td>
    <td><%= link_to 'Show', user_type %></td>
    <td><%= link_to 'Edit', edit_user_type_path(user_type) %></td>
    <td><%= link_to 'Destroy', user_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user_type', new_user_type_path %>
