<% content_for :left do %>
	<%= render :partial => 'settings/settings_list' %>
<% end %>

<%= error_messages_for "site" %>

<table class='master'>
	<thead>
		<th>Name</th>
		<th width='1'></th>		
	</thead>
	<tbody>
		<tr class="<%= cycle('odd', 'even')%>">
		  <td colspan='0'>
		    <%= link_to "Add Campus", new_site_path(), :class => 'btn positive' %>
		  </td>
		</tr>
		<% for site in @sites %>
			<tr class="<%= cycle('odd', 'even')%>" onclick="location.href='<%= url_for(site) + '/edit' %>'">
				<td><%= link_to site.name, edit_site_path(site) %></td>
				<td><%= button_to 'Delete', site, :method => :delete,
				          :disabled => !site.users.empty?, 
									:class => "btn negative " + (site.users.empty? ? '' : 'disabled'),
									:confirm => "Are you sure you want to delete the '" + site.name + "' campus?" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
