<% content_for :left do %>
	<%= render :partial => 'settings/settings_list' %>
<% end %>

<%= error_messages_for :skill, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<table>
	<thead>
	  <th width='1'>Symbol</th>
		<th>Description</th>
		<th width='1'></th>		
	</thead>
	<tbody>
		<tr><td colspan='0'><%= link_to "Add skill", new_grading_skill_path, :class => 'btn positive' %></td></tr>
		<% for skill in @skills %>
			<tr class="<%= cycle('odd', 'even')%>" onclick="location.href='<%= url_for(skill) + '/edit' %>'">
				<td><%= h skill.symbol %></td>
				<td><%= link_to skill.description, edit_grading_skill_path(skill) %></td>
				<td><%= button_to 'Delete', grading_skill_path(skill), :method => :delete, 
										:class => "btn negative ",
										:confirm => "Are you sure you want to delete\n\n '" + skill.description + "'?" %></td>
			</tr>
		<% end %>
	</tbody>
</table>


