<div id='course_list'>
	<table id='courses' class='master'>
		<thead>
		  <th>Name <%= "(#{@courses.length})" unless @courses.blank? %></th>
		  <th>Term</th>
		</thead>
		<tbody>
			<% if current_controller?('courses') then %>
				<tr><td colspan='0'><%= link_to 'Add New Course', new_course_path, :class=>'btn standard' %></td></tr>
			<% end %>
			<% for course in @courses %>
				<tr class="<%= cycle('even', 'odd') + (current_page?(:id => course) ? ' current' : '') %>" 
						onclick="location.href='<%= url_for( :action => :show, :id => course.id ) %>'"/>
					<%= content_tag :td, link_to( course.name, :action => :show, :id => course.id ) %>
					<%= content_tag :td, course.term.name %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
