<% students = @course.students.sort_by &:last_name %>

	<table class='master'>
		<thead>
			<th>Enrolled Students (<%= students.length %>)</th>
		</thead>
		<tbody>
			<% if students.blank? %>
				<tr><td>No Students</td></tr>
			<% else %>
				<% for student in students %>
					<tr class="<%= cycle ('odd', 'even') %>" id="<%= student.id %>">
						<td>
							<% form_remote_tag :url => { :action => 'remove_student', :student_id => student.id },
										:method => :delete,
										:confirm => 'Are you sure you want to remove this student from this course?',
										:loading => "Element.show('spinner')",	
										:complete => "Element.hide('spinner')" do %>
								<%= submit_tag 'X' %>
								&nbsp;&nbsp;<%= h student.full_name %>
							<% end %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	

