<%#= debug @course %>
<% if @course then students = @course.students.sort_by &:last_name end %>
<% students ||= [] %>

	<table class='master'>
		<thead>
			<tr>
				<th>Enrolled Students (<%= students.length %>)</th>
				<th width='1px'></th>
			</tr>
		</thead>
		<tbody>
			<% if students.blank? %>
				<tr class='help'><td>Add students to this course from the list of students &nbsp;--></td><td></td></tr>
			<% else %>
				<% for student in students %>
					<tr class="<%= cycle ('odd', 'even') %>" id="<%= student.id %>">
						<%= content_tag :td, student.full_name %>
						<td>
							<% form_remote_tag :url => { :action => 'remove_student', :student_id => student.id },
										:method => :delete,
										:confirm => "Are you sure you want to remove this '#{student.full_name}' from this course?",
										:loading => "Element.show('spinner')",	
										:complete => "Element.hide('spinner')" do %>
								<%= submit_tag 'Remove', :class => 'btn negative' %>
							<% end %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	

