<% content_for :left do %>
  <%= show_course_list %>
<% end %>

<%= error_messages_for :course, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div class='box span-14'>
  <% form_for @course do |f| %>
    <fieldset>
      <%= f.label :name, {}, :class => 'req' %>
      <%= f.text_field :name %>
      <br />
      <%= f.label :grading_scale_id, {}, :class => 'req' %>
      <%= collection_select :course, :grading_scale_id, GradingScale.active, :id, :name %>
      <br />
      <%= f.label :course_type_id, {}, :class => 'req' %>
      <%= collection_select :course, :course_type_id, CourseType.active, :id, :name %>
    <% end %>

    <div class="spacer">
      <%= submit_tag 'Save', :class=> 'btn positive' %>
      <%= link_to 'Cancel', courses_path, :class => 'btn standard' %>
      <%= button_to 'Delete Course', @course,
        :method   => :delete, :class => "btn negative",
        :confirm => "Are you sure you want to delete the '#{@course.name}' course?" %>
    </div>
  </fieldset>

</div>

<div id="students">
  <%= render :partial => "students_tab" %>
</div>

<%= render :partial => "skills", :locals => {:course_terms => @course_terms} %>

<% content_for :page_footer do %>
  <%#= javascript_tag "new Control.Tabs('course_tabs');" %>
<% end %>