<% content_for :left do %>
	<%= render :partial => 'course_list' %>
<% end %>

<%= error_messages_for :course, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div style='float: right; width: 19%;'>
	<form id='class_of_form'>
		<%= select_tag 'class_of', options_for_select(class_range.insert(0, ''), ' '), 
				:onchange => 
					remote_function(
						:update => 'student_list', 
						:url => { :action => :show }, 
						:with => "'value=' + value + '||Class Of ' + value",
						:method => :get) %>
	</form>
	<form id='homeroom_form'>
		<%= collection_select :homeroom, :name, @homerooms, :id, :name, {:include_blank => :true,}, {
				:onchange => 
					remote_function(
						:update => 'student_list', 
						:url => { :action => :show }, 
						:with => "'value=' + value + '||' + options[selectedIndex].text",
						:method => :get) } %>
	</form>

	<div id='student_list'>	
		<%= render :partial => 'student_list' %>
	</div>
</div>



<div style='float: right; width: 80%;'>

<% form_for(@course) do |f| %>
	<%= content_tag( :h1, "#{@course.name}" ) %>

	<label>Name</label>
	<%= f.text_field :name %>

	<label>Type</label>
	<%= collection_select :course, :course_type_id, CourseType.find(:all), :id, :name %>

	<label>Teacher</label>
	<%= collection_select :course, :teacher_id, Teacher.find(:all), :id, :full_name %>

	<label>Term</label>
	<%= collection_select :course, :term_id, Term.find(:all), :id, :name %>

	<label>Grading Scale</label>
	<%= collection_select :course, :grading_scale_id, GradingScale.find(:all), :id, :name %>

	<label>Attributes</label>
	<%= f.text_field :course_att_id %>

	<%= f.submit "Save" %>

<% end %>



<table class='master'>
	<thead>
		<th>Name</th>
	</thead>
	<tbody>
		<% for student in @course.students %>
		<tr>
			<%= content_tag :td, student.full_name %>
		</tr>
		<% end %>
	</tbody>
</table>
</div>

