

<table class="master">
	<caption>Teacher: <%= @courses[0].teacher.full_name %></caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Term</th>
      <th>Grading Scale</th>
      <th>Course Type</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Term</th>
      <th>Grading Scale</th>
      <th>Course Type</th>
    </tr>
  </tfoot>

  <tbody>
<% for course in @courses %>
  <tr>
    <td><%=h course.name %></td>
    <td><%=h course.term.name %></td>
    <td><%=h course.grading_scale.name %></td>
    <td><%=h course.course_type.name %></td>
  </tr>
<% end %>
  </tbody>
</table>

    <td><%#= link_to 'Show', course %></td>
    <td><%#= link_to 'Edit', edit_course_path(course) %></td>
    <td><%#= link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete %></td>

<br />

<%= link_to 'New course', new_course_path %>
