<h1>Listing courses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Teacher</th>
    <th>Term</th>
    <th>Grade scale</th>
    <th>Course att</th>
    <th>Course type</th>
  </tr>

<% for course in @courses %>
  <tr>
    <td><%=h course.name %></td>
    <td><%=h course.teacher_id %></td>
    <td><%=h course.term_id %></td>
    <td><%=h course.grade_scale_id %></td>
    <td><%=h course.course_att_id %></td>
    <td><%=h course.course_type_id %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New course', new_course_path %>
