<% content_for :left do %>
		<%= show_course_list %>
<% end %>

<%= error_messages_for :course, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div class='box span-14'>
	<% form_for( @course, :url => {}, :html => {:id => 'edit_course'} ) do |f| %>
	  <fieldset>
	    <%#= content_tag :legend, 'Edit Course' %>
	    
	    <%= f.label :name, {}, :class => 'req' %>
			<%= f.text_field :name %>
		  <br />
	    <%= f.label :term_id, {}, :class => 'req' %>
			<%= collection_select :course, :term_id, Term.active, :id, :name %>
		  <br />
	    <%= f.label :grading_scale_id, {}, :class => 'req' %>
			<%= collection_select :course, :grading_scale_id, GradingScale.find(:all), :id, :name %>
	<% end %>
	
	    <div class="spacer">
		    <%= button_to 'Delete Course', @course, 
					    :method   => :delete,
					    :disabled => !@course.assignments.empty?,
					    :class    => "btn negative " + (@course.assignments.empty? ? '' : 'disabled'),
					    :confirm => "Are you sure you want to delete the '#{@course.name}' course?" %>
	    </div>
		</fieldset>

	<%= observe_form :edit_course, :url => {:action => :update} %>
</div>

<div class='append-7 last'>&nbsp;</div>

<style>
/* Subsection Tabs
--------------------*/
ul.subsection_tabs {
	list-style:none;
	margin:0 10px 5px;
	padding:0;
	clear:both;
	height:15px;
	clear:both;
}

ul.subsection_tabs li.tab {
	float:left;
	margin-right:7px;
	text-align:center;
}

ul.subsection_tabs li.tab a {
	height:20px;
	padding:4px 20px;
	background-color:#eee;
	color:#666;
	width:80px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

ul.subsection_tabs li.tab a:hover {
	color:#333;
  background-color: #999;
}

ul.subsection_tabs li.tab a.active {
	background-color:#C3D9FF;
}

ul.subsection_tabs li.source_code {
	float:right;
}
</style>

<ul id="course_tabs" class="subsection_tabs">
  <li class="tab"><a href="#skills">Supporting Skills</a></li>
  <li class="tab"><a href="#students">Students</a></li>
</ul>

<div id="students"><%= render :partial => "students_tab" %></div>
<div id="skills"><%= render :partial => "skills_tab" %></div>

<% javascript_tag do %>
  new Control.Tabs('course_tabs');
<% end -%>