<div class="entryform">
<p>
  <b>Name:</b>
  <%=h @course.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @course.course_type.name %>
</p>

<p>
  <b>Teacher:</b>
  <%=h @course.teacher_id %>
</p>

<p>
  <b>Term:</b>
  <%=h @course.term.name %>
</p>

<p>
  <b>Grading scale:</b>
  <%=h @course.grading_scale.name %>
</p>

<p>
  <b>Course att:</b>
  <%=h @course.course_att_id %>
</p>


</div>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
