<% content_for :left do %>
		<%= show_course_list %>
<% end %>

<%= error_messages_for :course, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div class='box span-12'>
	<% form_for( @course, :url => {}, :html => {:id => 'edit_course'} ) do |f| %>
		<label><span class='required'>Name</span>
			<%= f.text_field :name %>
		</label>

		<label><span class='required'>Term</span>
			<%= collection_select :course, :term_id, Term.active, :id, :name %>
		</label>
		
		<label><span class='required'>Grading Scale</span>
			<%= collection_select :course, :grading_scale_id, GradingScale.find(:all), :id, :name %>
		</label>
	<% end %>
	
	<div class="spacer">
		<%= button_to 'Delete Course', @course, 
					:method => :delete,
					:disabled => !@course.assignments.empty?,
					:class => "btn negative " + (@course.assignments.empty? ? '' : 'disabled'),
					:confirm => "Are you sure you want to delete the '#{@course.name}' course?" %>
	</div>

	<%= observe_form :edit_course, :url => {:action => :update} %>
</div>

<div class='append-7 last'>&nbsp;</div>

<div class='span-3'>
	<form id='class_of_form'>
		<%= select_tag 'class_of', options_for_select(class_range.insert(0, 'Class Of ...'), ' '), 
				:onchange => 
					remote_function(
						:update => 'student_list', 
						:url => { :action => :show }, 
						:with => "'value=' + value + '||Class Of ' + value + '||C'",
						:method => :get) %>
	</form>
</div>

<div class='span-10 last'>
	<form id='homeroom_form'>
		<%= collection_select :homeroom, :name, @homerooms, :to_s, :to_s, {:include_blank => 'Home Room'}, {
				:onchange => 
					remote_function(
						:update => 'student_list', 
						:url => { :action => :show }, 
						:with => "'value=' + value + '||Home Room ' + options[selectedIndex].text + '||H'",
						:method => :get) } %>
	</form>
</div>

<div id='student_list' class='span-7'>	
	<%= render :partial => 'student_list' %>
</div>

<div id='enrolled_students' class='span-7 push-1 last'>
	<%= render :partial => 'enrolled_students' %>
</div>


