<% content_for :left do %>
  <%= render :partial => 'settings/settings_list' %>
<% end %>

<%= error_messages_for :course_type,
  :header_message => "Please Try Again!",
  :message => "We had some problems saving your changes:" %>

<table class='master'>
  <thead>
    <tr>
      <th>Name</th>
      <th width='1'></th>
    </tr>
  </thead>
  <tbody>
    <tr class="<%= cycle('odd', 'even')%>">
      <td colspan='0'>
        <%= link_to "Add Course Type", new_course_type_path, :class => 'btn positive' %>
      </td>
    </tr>
    <% for ctype in @course_types %>
      <tr class="<%= cycle('odd', 'even')%>" onclick="location.href='<%#= url_for(ctype) + '/edit' %>'">
        <td><%= link_to ctype.name, edit_course_type_path(ctype) %></td>
        <td><%= button_to 'Delete', course_type_path(ctype), :method => :delete,
            :disabled => !ctype.courses.empty?,
            :class => "btn negative " + (ctype.courses.empty? ? '' : 'disabled'),
            :confirm => "Are you sure you want to delete\n\n '" + ctype.name + "'?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


