<% content_for :left do %>
  <%= render :partial => 'settings/settings_list' %>
<% end %>

<%= error_messages_for :course_type,
  :header_message => "Please Try Again!",
  :message => "We had some problems saving your changes:" %>

<%= link_to "Add Course Type", new_course_type_path, :class => 'btn positive' %>
<div class="box">
<ul id="types" class="table">
  <% @course_types.each do |type| %>
    <% content_tag_for :li, type do %>
      <table><tr>
          <td width="90%"><%= link_to type.name, edit_course_type_path(type) %></td>
          <td width="10%"><%= button_to 'Delete', course_type_path(type), :method => :delete,
              :disabled => !type.courses.empty?,
              :class => "btn negative " + (type.courses.empty? ? '' : 'disabled'),
              :confirm => "Are you sure you want to delete\n\n '" + type.name + "'?" %></td>
          <td class="handle">[drag]</td>
        </tr>
      </table>
    <% end %>
  <% end %>
</ul>
</div>

<%= sortable_element("types", :url => sort_course_types_path, :handle => 'handle') %>
