<% content_for :left do %>
  <%# This is an Internet Explorer workaround ...sigh... %>
	&nbsp;
<% end %>

<%= error_messages_for "user_session", :header_message => "Please Try Again!", :message => "We had some problems logging you into your account:" %>

<div class='box span-12 last'>
  <% form_for @user_session do |f| %>
    <fieldset>
      <%= content_tag :legend, 'Login' %>
      
      <%= f.label :login, {}, :class => 'req' %>
			<%= f.text_field :login, :tabindex => 1 %>
      <br />
      <%= f.label :password, {}, :class => 'req' %>
			<%= f.password_field :password, :tabindex => 2 %>
      <br />
      <%= f.label :remember_me, 'Remember me?' %>
			<%= f.check_box :remember_me, :tabindex => 3 %>
      <br />
		  <div class='spacer'>
			  <%= f.submit 'Login', :class=> 'btn positive' %>
			  <%= link_to 'Cancel', '/', :class => 'btn standard' %>
		  </div>
		</fieldset>
  <% end %>
</div>

<%= set_focus_to_id 'user_session_login' %>
