<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title><%= StaticData.site_name %> - <%= controller.controller_name.humanize %></title>

    <%= stylesheet_link_tag 'screen', 'menu', 'tabs', 'local', :cache => false -%>

    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype" -%>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.2/scriptaculous" -%>

    <%= javascript_include_tag 'livepipe', 'tabs', 'scal', 'tablekit', 'event.simulate', 'application', :cache => false -%>
    <% javascript_tag do %>
      TableKit.options.rowEvenClass = 'even';
      TableKit.options.rowOddClass = 'odd';
    <% end %>

    <%= @content_for_page_header -%>

  </head>

  <body>

    <div class='container showgri'>
      <div id='header' class='span-25 last'>

        <div class='span-2'><img class='top' src='/images/logo.png' alt="logo" width='60px' height='60px' /></div>

        <% cache 'layout_header' do %>
        <div class='span-12'>
          <span class='title last'><%= StaticData.site_name %></span>
          <span class='tagline column span-12'><%= StaticData.tag_line %></span>
        </div>
        <% end %>

        <div id='account-info' class='span-9 last'>
          <% if !current_user %>
            <span>Welcome</span> |
            <span><%= link_to " log in ", login_path %></span>
          <% else %>
            <span><%= current_user.full_name %></span> |
            <span><%= link_to 'My Account', edit_account_path() %></span> |
            <span><%= link_to "log out", logout_path, :method => :delete %></span>
          <% end %>
        </div>

        <div class='span-23'>
          <%= menu_builder(request.path_parameters['controller'].split('/')[0]) %>
        </div>
      </div>

      <div id='flash' class='span-24 last'><%= show_flash %></div>

      <div class='span-4 colborder'><%= yield :left  %></div>
      <div class='span-19 last'><%= yield  %></div>

      <div class='span-24 last' id='footer'>
        &copy; 2005 - 2009 <a href='http://www.kangaroobox.com'>KangarooBox</a>, LLC.  All rights reserved.
      </div>
    </div>

    <%= @content_for_page_footer -%>
    <%= render :file => 'layouts/analytics.inc' if File.exist?(RAILS_ROOT + '/app/views/layouts/analytics.inc') %>
  </body>
</html>
