<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'
       'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>

<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
  <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
  <title>Gradesheet - <%= controller.controller_name.humanize %></title>
  <%= stylesheet_link_tag 'layout' %>
  <%= stylesheet_link_tag 'menu' %>
  <%= stylesheet_link_tag 'forms' %>
  <%= stylesheet_link_tag 'tables' %>
  <%= javascript_include_tag :defaults %>


  <%= calendar_date_select_includes %>
  <%= stylesheet_link_tag 'wice_grid' %>
  
</head>
<body>


<div id='header'>
	<div class='login'>Welcome <a href='/login'>Kim Hurt</a></div>
	<div class='tagline'>GradeSheet</div>
	<img src='/images/rails.png' alt='Logo'/>

	<%= show_flash %>

	<%= menu_builder(request.path_parameters['controller'].split('/')[0]) %>
</div>


<div class='colmask leftmenu'>
<div class='colright'>
<div class='col1wrap'>
  <div class='col1'>
    <%= yield  %>
  </div>
  </div>

  <div class='col2'>
    <%= yield :left  %>
  </div>

</div>
</div>


<div id='footer'>
		&copy; 2005 - 2009 <a href='http://www.kangaroobox.com'>KangarooBox</a>, LLC.  All rights reserved.
</div>
</body>
</html>

