<% content_for :left do %>
  <%# This is an Internet Explorer workaround ...sigh... %>
  &nbsp;
<% end %>

<%= error_messages_for :user, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div class='box span-13 last'>
  <% form_for @user, :url => account_path do |f| %>
    <fieldset>
      <%= content_tag( :h1, "Account Information" ) %>

      <%= f.label :login %>
      <%= f.text_field :login, :disabled => true %>
      <br />
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :disabled => true %>
      <br />
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :disabled => true %>
      <br />
      <%= f.label :email%>
      <%= f.text_field :email, :id => "email", :class => "focus" %>
      <br />
      <%= content_tag :label, f.object.new_record? ? 'Password' : 'Change password',
        !f.object.new_record? ? nil : :class=>'required' %>
      <%= f.password_field :password %>
      <br />
      <%= content_tag :label, 'Confirm password', !f.object.new_record? ? nil : :class=>'required' %>
      <%= f.password_field :password_confirmation %>


      <div class='spacer'>
        <%= f.submit 'Save', :class=> 'btn positive' %>
        <%= link_to 'Cancel', '/', :class => 'btn standard' %>
      </div>
    </fieldset>
  <% end %>
</div>